---
import { DateTime } from 'luxon';

// Define la fecha y hora en Buenos Aires
const endtime = DateTime.fromISO('2024-08-18T14:47:00-03:00', { zone: 'America/Argentina/Buenos_Aires' });

// Función para calcular el tiempo restante
const getTimeRemaining = (endtime) => {
  const now = DateTime.now().setZone('America/Argentina/Buenos_Aires');
  const diff = endtime.diff(now, ['days', 'hours', 'minutes', 'seconds']);
  
  return {
    days: Math.floor(diff.days).toString(),
    hours: Math.floor(diff.hours % 24).toString(),
    minutes: Math.floor(diff.minutes % 60).toString(),
    seconds: Math.floor(diff.seconds % 60).toString(),
  };
};

const { days, hours, minutes, seconds } = getTimeRemaining(endtime);
---

<section class="dark:bg-gray-300 w-full h-full bg-cover py-16 bg-center flex flex-col sm:flex-row items-center justify-center rounded-sm" style="background-image: url(https://pagedone.io/asset/uploads/1710565658.jpg);" id="ProximoViaje">
  <div class="w-full h-full max-w-screen-lg flex flex-col gap-4 items-center justify-center p-4 rounded-lg">
    <h2 class="text-black text-2xl sm:text-3xl font-bold text-center">Próximo viaje a Mendoza</h2>
    <p class="text-black text-base sm:text-lg font-semibold text-center">Faltan para el gran día:</p>
    
    <div class="grid grid-cols-2 sm:grid-cols-4 gap-4 text-center">
      <div class="bg-neutral rounded-lg text-neutral-content flex flex-col p-2">
        <span class="font-mono text-3xl sm:text-5xl" id="days">
          {days}
        </span>
        <span class="text-sm sm:text-base">days</span>
      </div>
      <div class="bg-neutral rounded-lg text-neutral-content flex flex-col p-2">
        <span class="font-mono text-3xl sm:text-5xl" id="hours">
          {hours}
        </span>
        <span class="text-sm sm:text-base">hours</span>
      </div>
      <div class="bg-neutral rounded-lg text-neutral-content flex flex-col p-2">
        <span class="font-mono text-3xl sm:text-5xl" id="minutes">
          {minutes}
        </span>
        <span class="text-sm sm:text-base">min</span>
      </div>
      <div class="bg-neutral rounded-lg text-neutral-content flex flex-col p-2">
        <span class="font-mono text-3xl sm:text-5xl" id="seconds">
          {seconds}
        </span>
        <span class="text-sm sm:text-base">sec</span>
      </div>
    </div>
    
    <div class="flex flex-col sm:flex-row gap-4 mt-4 w-full">
      <a href="https://www.facebook.com/TransRotViajesDolores" target="_blank" rel="noopener noreferrer">
        <button class="text-white flex justify-center bg-[#1877F2] rounded-lg hover:bg-[#1877F2]/80 duration-300 transition-colors border border-transparent px-8 py-2 w-full sm:w-auto"> 
          Contactanos y Reserva tu lugar 
          <svg class="w-5 h-5 sm:h-6 sm:w-6 ml-2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> 
            <g clip-path="url(#clip0_3033_94669)">
              <path d="M24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 17.9895 4.3882 22.954 10.125 23.8542V15.4688H7.07812V12H10.125V9.35625C10.125 6.34875 11.9166 4.6875 14.6576 4.6875C15.9701 4.6875 17.3438 4.92188 17.3438 4.92188V7.875H15.8306C14.34 7.875 13.875 8.80008 13.875 9.75V12H17.2031L16.6711 15.4688H13.875V23.8542C19.6118 22.954 24 17.9895 24 12Z" fill="white"/>
            </g>
            <defs>
              <clipPath id="clip0_3033_94669">
                <rect width="24" height="24" fill="white"/>
              </clipPath>
            </defs>
          </svg>
        </button>
      </a>
      <a href="https://wa.me/542245555831" target="_blank">
        <button class="text-white flex justify-center bg-[#25D366] rounded-lg hover:bg-[#25D366]/80 duration-300 transition-colors border border-transparent px-8 py-2 w-full sm:w-auto"> 
            Contactanos y Reserva tu lugar
            <svg class="w-5 h-5 sm:h-6 sm:w-6 ml-2" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.002 0C7.163 0 0 7.163 0 16.002c0 2.818.736 5.579 2.13 7.998L0 32l8.15-2.115a16.025 16.025 0 0 0 7.852 2.116c8.838 0 16-7.163 16-16.002 0-8.838-7.162-16-16-16Zm7.558 22.51c-.352.993-1.744 1.824-2.928 2.03-.748.128-1.717.23-5.071-1.07-4.233-1.647-6.934-5.665-7.147-5.932-.21-.27-1.705-2.269-1.705-4.33 0-2.06 1.077-3.07 1.46-3.48.387-.413.86-.515 1.147-.515.286 0 .573.002.821.015.268.013.632-.103.99.762.372.893 1.26 3.08 1.37 3.303.105.222.175.482.034.774-.14.29-.21.466-.415.719-.21.26-.44.581-.63.778-.216.225-.44.471-.19.922.25.446 1.11 1.83 2.387 2.963 1.645 1.47 3.02 1.93 3.457 2.148.436.217.69.18.948-.11.258-.29 1.1-1.28 1.392-1.722.293-.443.596-.371.992-.216.397.156 2.513 1.184 2.946 1.397.434.215.744.32.854.495.107.178.107 1.034-.245 2.026Z" fill="white"/>
            </svg>
        </button>
      </a>
    </div>
  </div>

  <section class="w-full h-64 sm:h-80 ">
    <lite-youtube videoid="nLsdVK2-h1Q" class="w-full h-full"></lite-youtube>
  </section>
</section>




<script>
  import { DateTime } from 'luxon';

  // Define la fecha y hora en Buenos Aires
  const endtime = DateTime.fromISO('2024-08-18T14:47:00-03:00', { zone: 'America/Argentina/Buenos_Aires' });

  function getTimeRemaining(endtime) {
    const now = DateTime.now().setZone('America/Argentina/Buenos_Aires');
    const diff = endtime.diff(now, ['days', 'hours', 'minutes', 'seconds']);
    
    return {
      days: Math.floor(diff.days).toString(),
      hours: Math.floor(diff.hours % 24).toString(),
      minutes: Math.floor(diff.minutes % 60).toString(),
      seconds: Math.floor(diff.seconds % 60).toString(),
    };
  }

  document.addEventListener('DOMContentLoaded', function () {
    function updateCountdown() {
      const { days, hours, minutes, seconds } = getTimeRemaining(endtime);

      document.getElementById('days').textContent = days;
      document.getElementById('hours').textContent = hours;
      document.getElementById('minutes').textContent = minutes;
      document.getElementById('seconds').textContent = seconds;
    }

    setInterval(updateCountdown, 1000);
    updateCountdown(); // Initial call
  });
</script>

