---
import Testimonio1 from "../assets/img/testimonios/testimonio1.jpg";
import Testimonio2 from "../assets/img/testimonios/testimonio2.jpg";
import Testimonio3 from "../assets/img/testimonios/testimonio3.jpg";
---

<main class="text-neutral-700 dark:text-neutral-300 bg-neutral" id="Testimonios">
  <div class="mx-auto text-center max-w-full sm:max-w-xl lg:max-w-3xl py-4">
    <h3 class="mb-6 text-2xl sm:text-3xl font-bold text-white">Testimonios</h3>
    <p class="mb-6 pb-2 md:mb-12 md:pb-0 text-white">
      Estos son algunos de los testimonios de pasajeros que viajaron con TransRot-Viajes.
    </p>
  </div>

  <div class="grid gap-6 text-center sm:grid-cols-2 lg:grid-cols-3 py-4 px-2">
    <!-- Testimonio 1 -->
    <div>
      <div class="block rounded-lg bg-white shadow-lg dark:bg-neutral-700 dark:shadow-black/30">
        <div class="h-28 overflow-hidden rounded-t-lg bg-[#9d789b]"></div>
        <div class="mx-auto -mt-12 w-24 overflow-hidden rounded-full border-2 border-white bg-white dark:border-neutral-800 dark:bg-neutral-800">
          <img src={Testimonio1.src} alt="Foto de Monica Faramiñan" width="192" height="192">
        </div>
        <div class="p-6">
          <h4 class="mb-4 text-xl sm:text-2xl font-semibold">Monica Faramiñan</h4>
          <hr />
          <p class="mt-4 text-sm sm:text-base">
            <span class="inline-block pe-2 [&>svg]:w-5">
              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 448 512">
                <path d="M0 216C0 149.7 53.7 96 120 96h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V320 288 216zm256 0c0-66.3 53.7-120 120-120h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H320c-35.3 0-64-28.7-64-64V320 288 216z"/>
              </svg>
            </span>
            Excelente todo muy bien organizado en Villa Carlos Paz (Córdoba).
          </p>
        </div>
        <div class="p-6">
          <a href="https://www.facebook.com/monica.faraminan/posts/pfbid0229UjmuYZnsQe8tCPRdEFS812h4zgchkSGzmfRnzroDm466GvznQjpJ4ctPuSEg4Xl" 
              target="_blank">
            <button class="w-full sm:w-auto px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
              Ver en Facebook
            </button>
          </a>
        </div>
      </div>
    </div>
    
    <!-- Testimonio 2 -->
    <div>
      <div class="block rounded-lg bg-white shadow-lg dark:bg-neutral-700 dark:shadow-black/30">
        <div class="h-28 overflow-hidden rounded-t-lg bg-[#7a81a8]"></div>
        <div class="mx-auto -mt-12 w-24 overflow-hidden rounded-full border-2 border-white bg-white dark:border-neutral-800 dark:bg-neutral-800">
          <img src={Testimonio2.src} alt="Foto de Lisa Cudrow" width="192" height="192">
        </div>
        <div class="p-6">
          <h4 class="mb-4 text-xl sm:text-2xl font-semibold">Lisa Cudrow</h4>
          <hr />
          <p class="mt-4 text-sm sm:text-base">
            <span class="inline-block pe-2 [&>svg]:w-5">
              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 448 512">
                <path d="M0 216C0 149.7 53.7 96 120 96h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V320 288 216zm256 0c0-66.3 53.7-120 120-120h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H320c-35.3 0-64-28.7-64-64V320 288 216z"/>
              </svg>
            </span>
            Fuimos con mami a La Falda, genial el nivel humano, seriedad, hotel, comidas, paseos. ¡Excelente! ¡Gracias por hacernos felices, Tony!
          </p>
        </div>
        <div class="p-6">
          <a href="https://www.facebook.com/kluduena1/posts/pfbid02JaSr8PMxkFrfi6a6Wxe9KzqZHaHGGuZrxCvnNHDjcijJF3gUXzUC64Vij41JkbwTl" 
              target="_blank">
            <button class="w-full sm:w-auto px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
              Ver en Facebook
            </button>
          </a>
        </div>
      </div>
    </div>
    
    <!-- Testimonio 3 -->
    <div>
      <div class="block rounded-lg bg-white shadow-lg dark:bg-neutral-700 dark:shadow-black/30">
        <div class="h-28 overflow-hidden rounded-t-lg bg-[#6d5b98]"></div>
        <div class="mx-auto -mt-12 w-24 overflow-hidden rounded-full border-2 border-white bg-white dark:border-neutral-800 dark:bg-neutral-800">
          <img src={Testimonio3.src} alt="Foto de Susana Cayuqueo" width="192" height="192"/>
        </div>
        <div class="p-6">
          <h4 class="mb-4 text-xl sm:text-2xl font-semibold">Susana Cayuqueo</h4>
          <hr />
          <p class="mt-4 text-sm sm:text-base">
            <span class="inline-block pe-2 [&>svg]:w-5">
              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 448 512">
                <path d="M0 216C0 149.7 53.7 96 120 96h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V320 288 216zm256 0c0-66.3 53.7-120 120-120h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H320c-35.3 0-64-28.7-64-64V320 288 216z"/>
              </svg>
            </span>
            Excelente todo. La organización, el hotel, las comidas, los lugares a visitar, todo espectacular, y el trato hacia los pasajeros también.
          </p>
        </div>
        <div class="p-6">
          <a href="https://www.facebook.com/susana.cayuqueo.9/posts/pfbid037NSWCDJvPr4vePFF9Ar6rhKkhXRPsbYzrmZkHmfTSn8Y2Q3rSPyCZpUqbycB9snLl" 
              target="_blank">
            <button class="w-full sm:w-auto px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
              Ver en Facebook
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
