
<a href="https://wa.me/542245555831" target="_blank" class="fixed bottom-5 right-5 bg-white p-3 rounded-full shadow-lg z-50">
    <img src="https://upload.wikimedia.org/wikipedia/commons/5/5e/WhatsApp_icon.png" alt="WhatsApp" class="w-12 h-12">
</a>

