---
interface Props {
    title: string;
}

const { title } = Astro.props;
import Logo from "../assets/img/Logo-ico.ico";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="En TransRotViajes, ofrecemos experiencias de viaje únicas en Argentina, Brasil y viajes de egresados, bajo la dirección de Edgardo Roteño. Especializados en viajes para grupos y egresados, garantizamos comodidad y satisfacción en cada aventura. ¡Descubre nuevos destinos con nosotros!">
        <meta name="keywords" content="viajes Argentina, viajes Brasil, viajes grupales, viajes de egresados, Transrotviajes , experiencias de viaje, Edgardo Roteño, turismo en Argentina, turismo en Brasil">
		<title>{title}</title>
		<link rel="icon" href={Logo} type="image/png">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
		<link rel="stylesheet" href="../style/global.css">
		<script type="module" src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1.5.0/lite-youtube.js"></script>
		<!-- Schema.org JSON-LD -->
		<script type="application/ld+json">
			{
			  "@context": "https://schema.org",
			  "@type": "LocalBusiness",
			  "name": "Transrotviajes",
			  "description": "Ofrecemos experiencias de viaje únicas en Argentina y Brasil bajo la dirección de Edgardo Roteño. Especializados en viajes para grupos y egresados, garantizamos comodidad y satisfacción en cada aventura.",
			  "url": "https://transrotviajes.com",
			  "telephone": "+54 2245 555831",
			  "address": {
				"@type": "PostalAddress",
				"addressLocality": "Dolores",
				"addressRegion": "Buenos Aires",
				"addressCountry": "Argentina"
			  },
			  "sameAs": [
				"https://www.facebook.com/TransRotViajesDolores",
				"https://wa.me/542245555831"
			  ]
			}
		</script>
	</head>
	<body>
		<slot />
		<script is:inline src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
	</body>
</html>
